* {
  box-sizing: border-box;
}

body {
  margin: 0.5rem 1rem;
  height: 100vh;
  font-family: "Inter",-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

header {
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

header p {
  font-size: 1.5rem;
  margin-top: 0;
}

iframe,
textarea {
  border-radius: 3px;
}

iframe {
  height: 20rem;
  width: 100%;
  border: solid 2px #ccc;
}

textarea {
  width: 100%;
  height: 20rem;
  resize: none;
  background: black;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 120%;
  margin-bottom: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  height: 100%;
  width: 100%;
}

.wc {
  -webkit-text-fill-color: #0000;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right,#761fac 0,#8a19a9 20%,#d900a5 70%,#d917a3 100%);
  filter: drop-shadow(0 1px 0 #fff);
  font-weight: 800;
  color:#69f5ff;
  text-decoration: underline;
}

.docs {
  margin-left: 5px;
  text-decoration: none;
  font-weight:600;
  color:#333;
  font-size: 80%;
  text-decoration: underline;
}